.css_nombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: left;}
.css_apellidos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_apellidos_grid_line {vertical-align: top;text-align: left;}
.css_tipo_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_documento_grid_line {vertical-align: top;text-align: left;}
.css_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: left;}
.css_telefono_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono_grid_line {vertical-align: top;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: left;}
.css_direccion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: left;}
.css_prioridad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_prioridad_grid_line {vertical-align: top;text-align: left;}
.css_ciudad_origen_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ciudad_origen_grid_line {vertical-align: top;text-align: left;}
.css_ciudad_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ciudad_destino_grid_line {vertical-align: top;text-align: left;}
.css_barrio_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_barrio_destino_grid_line {vertical-align: top;text-align: left;}
.css_zona_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zona_grid_line {vertical-align: top;text-align: left;}
.css_valor_declarado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_valor_declarado_grid_line {vertical-align: top;text-align: left;}
.css_centro_costos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_centro_costos_grid_line {vertical-align: top;text-align: left;}
.css_tipo_solicitud_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_solicitud_grid_line {vertical-align: top;text-align: left;}
.css_ubicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ubicacion_grid_line {vertical-align: top;text-align: left;}
.css_fecha_inicio_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_inicio_grid_line {vertical-align: top;text-align: center;}
.css_fecha_fin_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_fin_grid_line {vertical-align: top;text-align: center;}
.css_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_estado_proceso_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estado_proceso_grid_line {vertical-align: top;text-align: left;}
.css_estado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_id_shipping_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_shipping_grid_line {vertical-align: top;text-align: right;}
.css_id_generate_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_generate_grid_line {vertical-align: top;text-align: right;}
.css_id_personal_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_personal_grid_line {vertical-align: top;text-align: right;}
.css_id_user_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_user_grid_line {vertical-align: top;text-align: right;}
.css_id_detail_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_detail_grid_line {vertical-align: top;text-align: right;}
