.css_id_shipping_det_label {text-align: right;vertical-align: middle;}
.css_id_shipping_det_line {height:0px;text-align: right;}
.css_id_generate_det_label {text-align: right;vertical-align: middle;}
.css_id_generate_det_line {height:0px;text-align: right;}
.css_id_personal_det_label {text-align: right;vertical-align: middle;}
.css_id_personal_det_line {height:0px;text-align: right;}
.css_id_user_det_label {text-align: right;vertical-align: middle;}
.css_id_user_det_line {height:0px;text-align: right;}
.css_id_detail_det_label {text-align: right;vertical-align: middle;}
.css_id_detail_det_line {height:0px;text-align: right;}
.css_nombres_det_label {text-align: right;vertical-align: middle;}
.css_nombres_det_line {height:0px;text-align: right;}
.css_apellidos_det_label {text-align: right;vertical-align: middle;}
.css_apellidos_det_line {height:0px;text-align: right;}
.css_tipo_documento_det_label {text-align: right;vertical-align: middle;}
.css_tipo_documento_det_line {height:0px;text-align: right;}
.css_documento_det_label {text-align: right;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: right;}
.css_telefono_det_label {text-align: right;vertical-align: middle;}
.css_telefono_det_line {height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: right;}
.css_direccion_det_label {text-align: right;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: right;}
.css_prioridad_det_label {text-align: right;vertical-align: middle;}
.css_prioridad_det_line {height:0px;text-align: right;}
.css_ciudad_origen_det_label {text-align: right;vertical-align: middle;}
.css_ciudad_origen_det_line {height:0px;text-align: right;}
.css_ciudad_destino_det_label {text-align: right;vertical-align: middle;}
.css_ciudad_destino_det_line {height:0px;text-align: right;}
.css_barrio_destino_det_label {text-align: right;vertical-align: middle;}
.css_barrio_destino_det_line {height:0px;text-align: right;}
.css_zona_det_label {text-align: right;vertical-align: middle;}
.css_zona_det_line {height:0px;text-align: right;}
.css_valor_declarado_det_label {text-align: right;vertical-align: middle;}
.css_valor_declarado_det_line {height:0px;text-align: right;}
.css_centro_costos_det_label {text-align: right;vertical-align: middle;}
.css_centro_costos_det_line {height:0px;text-align: right;}
.css_tipo_solicitud_det_label {text-align: right;vertical-align: middle;}
.css_tipo_solicitud_det_line {height:0px;text-align: right;}
.css_ubicacion_det_label {text-align: right;vertical-align: middle;}
.css_ubicacion_det_line {height:0px;text-align: right;}
.css_fecha_inicio_det_label {text-align: right;vertical-align: middle;}
.css_fecha_inicio_det_line {height:0px;text-align: right;}
.css_fecha_fin_det_label {text-align: right;vertical-align: middle;}
.css_fecha_fin_det_line {height:0px;text-align: right;}
.css_fecha_registro_det_label {text-align: right;vertical-align: middle;}
.css_fecha_registro_det_line {height:0px;text-align: right;}
.css_estado_proceso_det_label {text-align: right;vertical-align: middle;}
.css_estado_proceso_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
