.css_s_nombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_nombres_grid_line {vertical-align: top;text-align: right;}
.css_s_apellidos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_apellidos_grid_line {vertical-align: top;text-align: right;}
.css_s_tipo_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_tipo_documento_grid_line {vertical-align: top;text-align: right;}
.css_s_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_documento_grid_line {vertical-align: top;text-align: right;}
.css_s_telefono_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_telefono_grid_line {vertical-align: top;text-align: right;}
.css_s_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_email_grid_line {vertical-align: top;text-align: right;}
.css_s_direccion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_direccion_grid_line {vertical-align: top;text-align: right;}
.css_s_prioridad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_prioridad_grid_line {vertical-align: top;text-align: right;}
.css_s_ciudad_origen_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_ciudad_origen_grid_line {vertical-align: top;text-align: right;}
.css_s_ciudad_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_ciudad_destino_grid_line {vertical-align: top;text-align: right;}
.css_s_barrio_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_barrio_destino_grid_line {vertical-align: top;text-align: right;}
.css_s_zona_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_zona_grid_line {vertical-align: top;text-align: right;}
.css_s_valor_declarado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_valor_declarado_grid_line {vertical-align: top;text-align: right;}
.css_s_centro_costos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_centro_costos_grid_line {vertical-align: top;text-align: right;}
.css_s_tipo_solicitud_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_tipo_solicitud_grid_line {vertical-align: top;text-align: right;}
.css_s_ubicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_ubicacion_grid_line {vertical-align: top;text-align: right;}
.css_s_fecha_inicio_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_s_fecha_inicio_grid_line {vertical-align: top;text-align: center;}
.css_s_fecha_fin_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_s_fecha_fin_grid_line {vertical-align: top;text-align: center;}
.css_s_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_s_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_s_estado_proceso_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_s_estado_proceso_grid_line {vertical-align: top;text-align: right;}
.css_s_estado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_s_estado_grid_line {vertical-align: top;text-align: right;}
.css_d_fecha_registro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_d_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_d_novedad_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_d_novedad_grid_line {vertical-align: top;text-align: right;}
.css_d_estado_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_d_estado_grid_line {vertical-align: top;text-align: right;}
