.css_s_nombres_det_label {text-align: right;vertical-align: middle;}
.css_s_nombres_det_line {height:0px;text-align: right;}
.css_s_apellidos_det_label {text-align: right;vertical-align: middle;}
.css_s_apellidos_det_line {height:0px;text-align: right;}
.css_s_tipo_documento_det_label {text-align: right;vertical-align: middle;}
.css_s_tipo_documento_det_line {height:0px;text-align: right;}
.css_s_documento_det_label {text-align: right;vertical-align: middle;}
.css_s_documento_det_line {height:0px;text-align: right;}
.css_s_telefono_det_label {text-align: right;vertical-align: middle;}
.css_s_telefono_det_line {height:0px;text-align: right;}
.css_s_email_det_label {text-align: right;vertical-align: middle;}
.css_s_email_det_line {height:0px;text-align: right;}
.css_s_direccion_det_label {text-align: right;vertical-align: middle;}
.css_s_direccion_det_line {height:0px;text-align: right;}
.css_s_prioridad_det_label {text-align: right;vertical-align: middle;}
.css_s_prioridad_det_line {height:0px;text-align: right;}
.css_s_ciudad_origen_det_label {text-align: right;vertical-align: middle;}
.css_s_ciudad_origen_det_line {height:0px;text-align: right;}
.css_s_ciudad_destino_det_label {text-align: right;vertical-align: middle;}
.css_s_ciudad_destino_det_line {height:0px;text-align: right;}
.css_s_barrio_destino_det_label {text-align: right;vertical-align: middle;}
.css_s_barrio_destino_det_line {height:0px;text-align: right;}
.css_s_zona_det_label {text-align: right;vertical-align: middle;}
.css_s_zona_det_line {height:0px;text-align: right;}
.css_s_valor_declarado_det_label {text-align: right;vertical-align: middle;}
.css_s_valor_declarado_det_line {height:0px;text-align: right;}
.css_s_centro_costos_det_label {text-align: right;vertical-align: middle;}
.css_s_centro_costos_det_line {height:0px;text-align: right;}
.css_s_tipo_solicitud_det_label {text-align: right;vertical-align: middle;}
.css_s_tipo_solicitud_det_line {height:0px;text-align: right;}
.css_s_ubicacion_det_label {text-align: right;vertical-align: middle;}
.css_s_ubicacion_det_line {height:0px;text-align: right;}
.css_s_fecha_inicio_det_label {text-align: right;vertical-align: middle;}
.css_s_fecha_inicio_det_line {height:0px;text-align: right;}
.css_s_fecha_fin_det_label {text-align: right;vertical-align: middle;}
.css_s_fecha_fin_det_line {height:0px;text-align: right;}
.css_s_fecha_registro_det_label {text-align: right;vertical-align: middle;}
.css_s_fecha_registro_det_line {height:0px;text-align: right;}
.css_s_estado_proceso_det_label {text-align: right;vertical-align: middle;}
.css_s_estado_proceso_det_line {height:0px;text-align: right;}
.css_s_estado_det_label {text-align: right;vertical-align: middle;}
.css_s_estado_det_line {height:0px;text-align: right;}
.css_d_fecha_registro_det_label {text-align: right;vertical-align: middle;}
.css_d_fecha_registro_det_line {height:0px;text-align: right;}
.css_d_novedad_det_label {text-align: right;vertical-align: middle;}
.css_d_novedad_det_line {height:0px;text-align: right;}
.css_d_estado_det_label {text-align: right;vertical-align: middle;}
.css_d_estado_det_line {height:0px;text-align: right;}
